<h1>Commands</h1>

<button onclick="runCommand('test_system')">Test System</button>
<button onclick="runCommand('test')">Test</button>
<button onclick="runCommand('routes')">Routes</button>
<button onclick="runCommand('tasks')">Tasks</button>
<button onclick="runCommand('default')">Sleep</button>

<strong id="status"></strong>
<pre><code class="bash" id="output"></code></pre>
<div id="screenshot"></div>